.blue.webix_menu-x {
  background:#3498DB;
}

body {
  overflow: hidden;
  margin: 0px!important;
}

.app_button button{
  padding:0;
  text-align: center;
}

.logo {
  padding-left: 10px;
  padding-top: 6px;
}

.headerref{
  height: 40px!important;
  font-family: Roboto, Arial!important;
  font-style: normal!important;
  color: #000000!important;
  font-size: 18px!important;
}

.status {
  padding: 2px 5px;
  font-size: 1px;
  border-radius: 3px;
  color: #fff;
  margin-left: 55px;
  margin-top: -16px;
  background-color: #3498db;
}

.statustrue {
  background-color: #FF0000!important;
}


.statusdel {
  margin-top: -20px;
  margin-left: 65px;
  color: red;
  font-size: 18px!important;
  font-weight: 900!important;
}


.statusdel1 {
  display: block!important;
}

.statusdel0 {
  display: none!important;
}



/*ЭТО ПЕРЕОПРЕДЕЛЕНИЕ СТИЛЕЙ WEBIX*/

.webix_sidebar{
  background: #FFFFFF!important;
}


.webix_icon_button .webix_icon {
  color: #000000;
}

.webix_header > div {
  font-family: Roboto, Arial!important;
  font-style: normal!important;
  color: #000000!important;
  font-size: 18px!important;
}

.webix_property_label_line {
  font-family: Roboto, Arial!important;
  font-style: normal!important;
  color: #000000!important;
  font-size: 16px!important;
  background-color: #f0f5f9!important;
}

.webix_win_head > .webix_view > .webix_template {
  font-family: Roboto, Arial!important;
  font-style: normal!important;
  color: #000000!important;
}

.webix_layout_line, .webix_multiview, .webix_layout_clean, .webix_layout_accordion {
  background: #f7f7f7!important;
}

.webix_toolbar {
  color: #adadad;
  background: #f7f7f7!important;
}

.box_shadow {
  box-shadow: 0 0 5px rgba(0,0,0,.2);
}

.webix_sidebar .webix_tree_item.webix_selected, .webix_sidebar .webix_tree_item.webix_selected span {
  background-color: #f0f0f0!important;
  padding-right: 0!important;
}

.webix_ss_filter select, .webix_ss_filter input {
  margin-top: 0px!important;
}