.logo {
    padding-top: 4px;
    padding-left: 10px;
}



.mdo_subsystem_toolbar_button {
     position: absolute;
     top: 0px;
     left: 75px;
     z-index: 50;
 }
.mdo_subsystem_toolbar_button button{
    border: 1px solid #ffffff!important;
}

.abris_subsystem_toolbar_button {
    position: absolute;
    top: 0px;
    left: 160px;
    z-index: 50;
}
.abris_subsystem_toolbar_button button{
    border: 1px solid #ffffff!important;
}

.info_toolbar_button{
    position: absolute;
    top: 0px;
    right: 55px;
    z-index: 50;
}

.info_toolbar_button > button > span  {
    color: #FFFFFF!important;
}

.question_toolbar_button{
    position: absolute;
    top: 0px;
    right: 10px;
    z-index: 50;
}

.question_toolbar_button > button > span  {
    color: #FFFFFF!important;
}

.projectMenu {
    position: absolute;
    top: 0px;
    left: 250px;
    z-index: 50;
    background: #545454!important;
    color: #FFFFFF;
}

.projectSubmenu {
    color:#1E2022;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


.content {
    position: absolute;
    top: 50px;
    left: 250px;
    z-index: 1;
}

.content_min {
    position: absolute;
    top: 50px;
    left: 41px;
    z-index: 1;
}

.webix_sidebar_icon{
    margin-top: 10px!important;
}

.sidebar_mine{
    font-weight: bold;
}


